/target
logs*
.vscode
rustc-ice-*.txt
*.las
*.sqlite*
publishing/

*.zst
*.pyc
cabinet/

tree.txt

*-gitignore
/app-config.toml
rtp.sdp

*-venv
.godot/
*.tmp
*.log
~*
godot/lunabase/exports/
/export_presets.cfg
playlist.m3u8
playlist*.ts
mouser-config.toml
/go2rtc*