<?xml version="1.0"?>
<robot name="lunabot">
  <!-- Base link -->
  <link name="base_link">
  </link>

  <!-- Body link -->
  <link name="body_link">
    <visual>
      <geometry>
        <box size="0.505 0.6 0.475"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- Camera link -->
  <link name="depth_camera_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- Joint connecting base_link and camera_link -->
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="depth_camera_link"/>
    <origin xyz="0 0.573 -0.298" rpy="-13.4 0 0"/>
  </joint>

  <!-- Joint connecting base_link and body_link -->
  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body_link"/>
    <origin xyz="0 0.3 0.0" rpy="0 0 0"/>
  </joint>
</robot>