[tasks.build_lunasim]
workspace = false
command = "cargo"
args = ["build", "-p", "lunasim-lib", "--release"]

[tasks.build_lunabase]
workspace = false
command = "cargo"
args = ["build", "-p", "lunabase-lib", "--release"]

[tasks.build_lunabase_prod]
workspace = false
command = "cargo"
args = ["build", "-p", "lunabase-lib", "--release", "--features=production"]

[tasks.build_lunabase_prodx]
workspace = false
command = "cargo"
args = ["build", "-p", "lunabase-lib", "--release", "--features=extended"]

[tasks.godot]
workspace = false
dependencies = [
    "build_lunabase",
    "build_lunasim"
]

[tasks.sim]
workspace = false
command = "cargo"
args = ["run", "-p", "lunabot", "--", "sim"]
dependencies = [
    "build_lunasim",
]

[tasks.main]
workspace = false
command = "cargo"
args = ["run", "--features=production", "-p", "lunabot", "--profile", "optdebug", "--", "main"]

[tasks.checkmain]
workspace=false
command = "cargo"
args = ["check", "--features=production", "-p", "lunabot", "--profile", "optdebug"]

[tasks.dataviz]
workspace = false
command = "cargo"
args = ["run", "--features=production", "-p", "lunabot", "--profile", "optdebug", "--", "dataviz"]

[tasks.clean]
workspace = false
command = "cargo"
args = ["run", "-p", "lunabot", "--", "clean"]

[tasks.import_lunabase]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "--import"]

[tasks.lunabase]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "-d"]
dependencies = [
    "build_lunabase",
    "import_lunabase",
]

[tasks.local_lunabase_prod]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "-d"]
dependencies = [
    "build_lunabase_prod",
    "import_lunabase",
]

[tasks.lunabase_prod]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "-d", "--", "155.98.6.16"]
dependencies = [
    "build_lunabase_prod",
    "import_lunabase",
]

[tasks.local_lunabase_prodx]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "-d"]
dependencies = [
    "build_lunabase_prodx",
    "import_lunabase",
]

[tasks.lunabase_prodx]
workspace = false
run_task = { name = ["local_lunabase_prodx", "lunaserver-web-client-controls", "lunaserver-web-client-streaming", "lunaserver-web-client-audio"], parallel = true }

[tasks.edit_lunasim]
workspace = false
command = "godot"
args = ["--path", "godot/lunasim", "-e"]

[tasks.edit_lunabase]
workspace = false
command = "godot"
args = ["--path", "godot/lunabase", "-e"]

[tasks.lunaserver-web-client-controls]
workspace = false
command = "cargo"
args = ["run", "-p", "lunaserver-web-client", "--", "10600"]

[tasks.lunaserver-web-client-streaming]
workspace = false
command = "cargo"
args = ["run", "-p", "lunaserver-web-client", "--", "10601"]

[tasks.lunaserver-web-client-audio]
workspace = false
command = "cargo"
args = ["run", "-p", "lunaserver-web-client", "--", "10602"]
