[build]
rustflags = ["-Ctarget-cpu=native", "-Z", "threads=8"]

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"

[target.aarch64-apple-darwin]
linker = "rust-lld"

[env]
RUST_BACKTRACE = "1"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-Clink-arg=-fuse-ld=/usr/bin/mold", "-Ctarget-cpu=native"]